* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 320px) {

    .titulo {
        font-size: 20px;
        text-align: center;
        padding: 20px;
        background-color: #567ebb;
    }

    .form-box {
        background-color: #dce0e6;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        padding: 2vh 0vh 0vh 0vh;
        min-width: 100%;

    }

    .form-box form {
        background-color: #dce0e6;
        padding: 10px;
    }

    .form-box label {
        margin: 5px;
    }

    .form-box input,
    textarea {
        display: block;
        width: 50vw;
        padding: .8rem .8rem .5rem .8rem;
        margin: .9vw 0.9vw;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 2vh;
        color: black;
    }

    .form-box textarea {
        height: 15vh;
    }

    .form-box h2 {
        padding-bottom: 1vh;

    }

    .form-box span {
        display: center;
        flex-direction: column;
        margin: 12vw 0.9vw;
        width: 50vw;
        background-color: #dce0e6;
        padding: 5vh, 0vh;
        align-items: center;
    }

    .button {
        border-radius: 10px;
        border-color: #ffc220;
        font-size: 12px;
        background-color: #ffc220;
        color: black;
        font-weight: bold;
        margin: 10px 5px 20px 20px;
        padding: 5px 20px 5px 20px;
    }

    .footer {
        height: 10vh
    }
}

@media (min-width: 321px) and (max-width: 768px) {

    .titulo {
        font-size: 20px;
        text-align: center;
        padding: 20px;
        background-color: #567ebb;
    }

    .form-box {
        background-color: #dce0e6;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        padding: 2vh 0vh 0vh 0vh;
        min-width: 100%;

    }

    .form-box form {
        background-color: #dce0e6;
        padding: 10px;
    }

    .form-box label {
        margin: 5px;
    }

    .form-box input,
    textarea {
        display: block;
        width: 50vw;
        padding: .8rem .8rem .5rem .8rem;
        margin: .9vw 0.9vw;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 12px;
        color: black;
    }

    .form-box textarea {
        height: 15vh;
    }

    .form-box h2 {
        padding-bottom: 1vh;

    }

    .form-box span {
        display: center;
        flex-direction: column;
        margin: 12vw 0.9vw;
        width: 50vw;
        background-color: #dce0e6;
        padding: 5vh, 0vh;
        align-items: center;
    }

    .button {
        border-radius: 10px;
        border-color: #ffc220;
        font-size: 15px;
        background-color: #ffc220;
        color: black;
        font-weight: bold;
        margin: 10px 5px 20px 20px;
        padding: 5px 20px 5px 20px;
    }

    .footer {
        height: 10vh
    }
}

@media (min-width: 769px) {

    .titulo {
        font-size: 20px;
        text-align: center;
        padding: 20px;
        background-color: #567ebb;
    }

    .form-box {
        background-color: #dce0e6;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        padding: 2vh 0vh 0vh 0vh;
        min-width: 100%;

    }

    .form-box form {
        background-color: #dce0e6;
        padding: 10px;
    }

    .form-box label {
        margin: 5px;
    }

    /* PARTE DO FORMULARIO */
    .form-box input,
    textarea {
        display: block;
        width: 50vw;
        padding: .8rem .8rem .5rem .8rem;
        margin: .9vw 0.9vw;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 15px;
        color: black;
    }

    .form-box textarea {
        height: 15vh;
    }

    .form-box h2 {
        padding-bottom: 1vh;

    }

     /* PARTE DOS RESULTADOS */   
    .form-box span {
        display: center;
        flex-direction: column;
        margin: 12vw 0.9vw;
        width: 50vw;
        background-color: #dce0e6;
        padding: 5vh, 0vh;
        align-items: center;
    }

    .button {
        border-radius: 10px;
        border-color: #ffc220;
        font-size: 20px;
        background-color: #ffc220;
        color: black;
        font-weight: bold;
        margin: 10px 5px 20px 20px;
        padding: 5px 20px 5px 20px;
    }

    .footer {
        height: 10vh
    }
}
